body{
    margin:0px;
    padding:0px;
}
html{
    scroll-behavior: smooth;
}
/*menu part start*/
.custom-color{
    background-color: #dddddd;
}
/*menu part end*/
/*slider part start*/
.slider-bg {
    background-color: #F4709C;
    padding:30px;
}
.my-content h2{
    font-weight: bold;
    color: #4d4747;
    font-size: 60px;
}
.my-content h3{
 color: #f207b4e8;
}
.btn-custom{
    background-color:#d4057e;
    color: #ffffff;
    text-transform: uppercase;
    padding:6px 15px;
    margin-top: 20px;
}
/*slider part end*/
/*first catagories part start*/
.first-catagories h5{
    font-weight: 700;
    font-size:20px;
}
.first {
    background-color: tomato;
    border-radius: 2%;
    margin-top: 30px;
    padding: 10px;
    color:#ffffff;
    width: 350px;
}
.first h5{
    margin-left: -20px;
}
.bg-color-2{
    background-color: #f00de4;
}
.bg-color-3{
    background-color: #1f12d1;
}
/*first catagories part end*/
/*catagories name part start*/
.catagories-name h3{
    font-weight: 700;
    margin-left: 0px;
}
/*catagories name part end*/
/*second catagory part start*/
.items .card{
    width: 22rem;
    background-color: #dddddd;
    padding: 5px;
    margin-bottom: 25px;
}
.items .card:hover{
   padding: 0px;
   transition:1s;
}
/*second catagory part end*/
/*footer part start*/
.footer{
    width: 100%;
    text-align: center;
    background-color: #F4709C;
}
.footer h5{
    font-size: 16px;
}
.footer-part .btn{
    margin-top: -15px;
    display: block;
    width: 100px;
    margin-left: 400px;
    }
.footer-part h3{
    text-transform: uppercase;
}
.footer-part input{
    margin-top: 0px;
    padding: 5px;
    margin-left: 20px;
    width: 300px;
    margin-bottom: 40px;
    border-radius: 5px;
    border: none;
}
.footer-part h5{
    font-size: 15px;
}
/*footer part end*/
/*button part start*/

/*button part end*/ 
/*last part start*/
.last-part h5{
    text-align: center;
    font-size: 15px;
    color:#7a6666;
    padding-bottom: 20px;
    padding-top: 20px;
}
/*last part end*/